header.nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	background: var(--color-bg);
	font-family: "Rubik", sans-serif;
	box-shadow: 2px 0 4px var(--color-shadow);
}

header.nav-bar #main {
	width: 70%;
}