#navbar {
	height: 80px;
	background: var(--color-bg);
	box-shadow: 4px 0 4px var(--color-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}

#navbar #logo {
	height: 60px;
}

#navbar #nav {
	padding: 0 60px;
	width: 100%;
}